language: node_js
node_js:
  - "10.0"
install:
  - npm install
script:
  - npm test
before_deploy:
  - npm run build
jobs:
  include:
    - stage: npm release
      node_js: "10.0"
      script: echo "Deploying to npm"
      deploy:
        provider: npm
        email: $EMAIL
        api_key: $NPM_TOKEN
        skip_cleanup: true
        on:
          all_branches: true
          tags: true
